<!DOCTYPE html>
<html lang="vi" ng-app="ParkingAdminApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/assets/HomePage.css">
</head>

<body>
    <div class="main-container" ng-controller="HomeController">
        <div class="sidebar-item">
            <a href="#/post"><i class="fa-solid fa-pen"></i> Quản lý bài đăng</a>
        </div>
        <div class="sidebar-item">
            <a href="#/approve"><i class="fa-solid fa-list"></i> Quản lý Duyệt Bài</a>
        </div>
        <div class="sidebar-item">
            <a href="#/account"><i class="fa-solid fa-user"></i> Quản lý tài khoản</a>
        </div>
        <div class="sidebar-item">
            <a href="#/payment"><i class="fa-solid fa-file-invoice"></i> Quản lý hóa đơn</a>
        </div>
        <div class="sidebar-item">
            <a href="#/price"><i class="fa-solid fa-file-invoice"></i> Quản lý giá</a>
        </div>
        <div class="sidebar-item">
            <a href="#/report"><i class="fa-solid fa-flag"></i> Quản lý báo cáo bài đăng</a>
        </div>
    </div>

</body>

</html>